.chat-main
  .chat-main__group-info
    .group-items
      .group-items__left
        .group-items__left-name
          = @group.name
        .group-items__left-member
          Member : 
          - @group.users.each do |user|
            = user.name
      .group-items__right
        .group-items__right-edit
          = link_to edit_group_path(current_user) do
            edit
  .chat-main__group-list
    = render @messages
  .chat-main__group-form
    .form
      = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
        -# = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('far', 'image', class: 'Form__icon')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'
      