.side-bar
  .side-bar__user-name
    .top-items
      = current_user.name
      .top-items__icons
        .contents__btn
          = link_to new_group_path(current_user) do
            = icon('far', 'edit')
          = link_to edit_user_path(current_user) do
            = icon('fa', 'cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-items
        = link_to '#' do
          .side-items__name
            = group.name
          .side-items__message
            メッセージはまだありません
